<div class="row">
    <div class="col-xs-12 col-sm-8 col-xl-9">
        <input @bind-value="TextoBusqueda" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => SearchStringKeyPress(e))"
               type="text" class="form-control" id="searchString2" placeholder="Escriba aquí el texto a buscar" />
    </div>

    <div class="col-xs-8 col-sm-2">
        <button type="button" class="btn btn-primary" @onclick="LimpiarBusqueda">Limpiar busqueda</button>
    </div>

    <div class="col-xs-4 col-sm-2 col-xl-1">
        <select class="form-control"
                value="@RegistrosPorPagina"
                @onchange="RegistrosAVisualizar"
                title="Registros por página">
            <option value=10>10</option>
            <option value=20>20</option>
            <option value=50>50</option>
        </select>
    </div>
</div>

@code {

    [Parameter] public string TextoBusqueda { get; set; }
    [Parameter] public int RegistrosPorPagina { get; set; }

    [Parameter] public EventCallback LimpiarBusqueda { get; set; }
    [Parameter] public EventCallback<string> Buscar { get; set; }
    [Parameter] public EventCallback<int> ModificarRegistrosAVisualizar { get; set; }

    private async Task SearchStringKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Buscar.InvokeAsync(TextoBusqueda);
        }
    }

    private async Task RegistrosAVisualizar(ChangeEventArgs args)
    {
        int registros;

        int.TryParse(args.Value.ToString(), out registros);

        await ModificarRegistrosAVisualizar.InvokeAsync(registros);
    }

}
