@page "/categorias/crear"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Crear Categoria</h3>

<FormularioCategoria Item="item"
                        OnValidSubmit="Crear" />

@code {
    private CategoriaDTO item = new CategoriaDTO();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/categorias", item);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/categorias");
        }
    }
}
