@page "/clientes/editar/{Id}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize]


@if (item == null)
{
    <Cargando />
}
else
{
    <h3>Editar @item.Persona.FullName</h3>
    <div>
        <button @onclick="@(()=>EliminarRegistro(item.IdPublico))" class="btn btn-primary"><span class="oi oi-trash" aria-hidden="true"></span> Borrar cliente</button>
        <br />
        <br />
    </div>

    <FormularioClientes Item="item"
                       OnValidSubmit="Guardar" />
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public Guid Id { get; set; }

    private ClienteDTO item;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<ClienteDTO>($"api/clientes/{Id}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            item = httpResponse.Response;
        }
    }

    private async Task Guardar()
    {
        var httpResponse = await repositorio.Put("api/clientes", item);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/clientes");
        }
    }

    private async Task EliminarRegistro(Guid id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmarEliminacion.Texto), $"¿Está seguro de que quiere eliminar el cliente {item.Persona.FullName.ToUpper()}?");

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            HideHeader = true
        };

        var confirmationModal = Modal.Show<ConfirmarEliminacion>("", parameters, options);
        var result = await confirmationModal.Result;

        if (!result.Cancelled)
        {
            var httpResponse = await repositorio.Delete($"api/clientes/{id}");

            if (httpResponse.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
            else
            {
                navigationManager.NavigateTo("/clientes");
            }
        }
    }
}
