@page "/tiposcontrato/editar/{Id:int}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize]


@if (item == null)
{
    <Cargando />
}
else
{
    <h3>Editar @item.Descripcion</h3>
    <div>
        <button @onclick="@(()=>EliminarRegistro(item.Id))" class="btn btn-primary">Borrar tipo de contrato</button>
        <br />
        <br />
    </div>

    <FormularioTiposContrato Item="item"
                             ModoEdicion="true"
                             OnValidSubmit="Guardar" />
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public int Id { get; set; }

    private TipoContratoDTO item;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<TipoContratoDTO>($"api/tiposcontrato/{Id}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            item = httpResponse.Response;
        }
    }

    private async Task Guardar()
    {
        var httpResponse = await repositorio.Put("api/tiposcontrato", item);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/tiposcontrato");
        }
    }

    private async Task EliminarRegistro(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmarEliminacion.Texto), $"¿Está seguro de que quiere eliminar el tipo de contrato {item.Descripcion.ToUpper()}?");

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            HideHeader = true
        };

        var confirmationModal = Modal.Show<ConfirmarEliminacion>("", parameters, options);
        var result = await confirmationModal.Result;

        if (!result.Cancelled)
        {
            var httpResponse = await repositorio.Delete($"api/tiposcontrato/{id}");

            if (httpResponse.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
            else
            {
                navigationManager.NavigateTo("/tiposcontrato");
            }
        }
    }
}
