@page "/empresas/crear"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Crear Empresa</h3>

<FormularioEmpresa Item="item"
                   OnValidSubmit="Crear" />

@code {
    private EmpresaDTO item = new EmpresaDTO();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/empresas", item);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/empresas");
        }
    }
}