@page "/empresas/editar/{Id:int}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize]


@if (!inicializado)
{
    <Cargando />
}
else
{
    <h3>Editar @item.RazonSocial</h3>
    <div>
        <button @onclick="@(()=>EliminarRegistro(item.Id))" class="btn btn-primary">Borrar empresa</button>
        <br />
        <br />
    </div>

    <FormularioEmpresa Item="item"
                       ModoEdicion="true"
                       OnValidSubmit="Guardar" />
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public int Id { get; set; }

    private EmpresaDTO item;
    private bool inicializado = false;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<EmpresaDTO>($"api/empresas/{Id}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            item = httpResponse.Response;
        }

        //var httpResponseCanDelete = await repositorio.Get<bool>($"api/empresas/candelete/{Id}");

        //if (httpResponseCanDelete.Error)
        //{
        //    await mostrarMensajes.MostrarMensajeError(await httpResponseCanDelete.GetBody());
        //}
        //else
        //{
        //    item = httpResponseCanDelete.Response;
        //}

        inicializado = true;
    }

    private async Task Guardar()
    {
        var httpResponse = await repositorio.Put("api/empresas", item);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/empresas");
        }
    }

    private async Task EliminarRegistro(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmarEliminacion.Texto), $"¿Está seguro de que quiere eliminar la empresa {item.RazonSocial.ToUpper()}?");

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            HideHeader = true
        };

        var confirmationModal = Modal.Show<ConfirmarEliminacion>("", parameters, options);
        var result = await confirmationModal.Result;

        if (!result.Cancelled)
        {
            var httpResponse = await repositorio.Delete($"api/empresas/{id}");

            if (httpResponse.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
            else
            {
                navigationManager.NavigateTo("/empresas");
            }
        }
    }
}
