@page "/usuarios/crear"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]

<h3>Crear Usuario</h3>

@if (!inicializado)
{
    <Cargando />
}
else
{
    <FormularioUsuario Usuario="usuario"
                       OnValidSubmit="Crear" />
}

@code {
    private UsuarioDTO usuario = new UsuarioDTO();

    private bool inicializado = false;

    protected override async Task OnInitializedAsync()
    {
        usuario.rolName = "user";
        usuario.Departamento = new DepartamentoDTOmin();
        usuario.Categoria = new CategoriaDTOmin();

        inicializado = true;
    }

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/usuarios", usuario);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/usuarios");
        }
    }
}
