@page "/usuarios/editar/{UsuarioId:int}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]


@if (usuario == null)
{
    <Cargando />
}
else
{
    <h3>Editar @usuario.FullName2</h3>
    <div>
        <button @onclick="@(()=>EliminarUsuario(usuario.Id))" class="btn btn-primary">Borrar usuario</button>
        <br />
        <br />
    </div>

    <FormularioUsuario Usuario="usuario"
                       ModoEdicion=true
                       OnValidSubmit="Editar" />
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public int UsuarioId { get; set; }

    private UsuarioDTO usuario;
    private bool inicializado = false;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<UsuarioDTO>($"api/usuarios/{UsuarioId}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            usuario = httpResponse.Response;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put("api/usuarios", usuario);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/usuarios");
        }
    }

    private async Task EliminarUsuario(int usuarioId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ConfirmarEliminacion.Texto), $"¿Está seguro de que quiere eliminar el usuario {usuario.FullName2}?");

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            HideHeader = true
        };

        var confirmationModal = Modal.Show<ConfirmarEliminacion>("", parameters, options);
        var result = await confirmationModal.Result;

        if (!result.Cancelled)
        {
            var httpResponse = await repositorio.Delete($"api/usuarios/{usuarioId}");

            if (httpResponse.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
            else
            {
                navigationManager.NavigateTo("/usuarios");
            }
        }
    }
}
