@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

@if (Item == null)
{
    <Cargando />
}
else
{
    <EditForm Model="Item" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-6">

                @if (ModoEdicion)
                {
                    <div class="form-inline">
                        <div>
                            <InputCheckbox class="form-control" @bind-Value="@Item.Activo" />
                            <ValidationMessage For="@(() => Item.Activo)" />
                        </div>
                        &nbsp; <label>Servicio activo</label>
                    </div>
                }

                <div class="form-group">
                    <label>Descripcion:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Item.Descripcion" />
                        <ValidationMessage For="@(() => Item.Descripcion)" />
                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </EditForm>
}

@code {
    [Parameter] public ServicioDTO Item { get; set; }
    [Parameter] public Boolean ModoEdicion { get; set; } = false;
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}